/* padrao */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'font-default';
    src:url("../font/Raleway/static/Raleway-Regular.ttf");
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/background_login-register.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: font-default;
}
.container h2{
    position: relative;
    top: 122px;
    font-weight: 400;
    font-size: 1.40rem;
}

/* LOGIN */
.container-login{
    width: 850px;
    height: 550px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    align-items: center;
    border-radius: 15px;
    z-index: 999;
    overflow: hidden;
    border: 1px solid #0000000e;
    box-shadow: 25px 25px 60px rgba(128, 128, 128, 0.568);
}
.text-default{
    width: 425px;
    height: 550px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.text-default p{
    padding: 20px 0;
}
.btn-register{
    width: 180px;
    height: 34px;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    transition: all ease 0.5s;
    position: relative;
    bottom: 120px;
}
.btn-register:hover{
    background-color: transparent;
    border: 1px solid #000000;
    cursor: pointer;
    transition: all ease 0.5s;
}
.login{
    width: 425px;
    height: 550px;
    background-color: #214e0344;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fields input{
    width: 300px;
    height: 34px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    margin: 7px;
}
.fields p{
    position: relative;
    color: #aa9999;
}
.fields:focus .placeholder-email{
    top: 1px !important;
}
.placeholder-email{
    top: 33px;
    right: 120px;
}
.placeholder-senha{
    top: 33px;
    right: 120px;
}

*:focus{
    outline: none;
}

.options-login{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding-top: 7px;
}
.forgot-password a{
    text-decoration: none;
    color: #000;
}
.btn-default{
    height: 34px;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    transition: all ease 0.5s;
    border: 1px solid #fff;
}
.options-login button:hover{
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    transition: all ease 0.5s;
}

.sumir{
    display: none !important;
}
/* REGISTER */
.container-register{
    width: 850px;
    height: 550px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    align-items: center;
    border-radius: 15px;
    z-index: 999;
    overflow: hidden;
    border: 1px solid #0000000e;
    box-shadow: 25px 25px 60px rgba(128, 128, 128, 0.568);
}
.register{
    width: 425px;
    height: 550px;
    background-color: #214e0344;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-login{
    width: 180px;
    height: 34px;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    transition: all ease 0.5s;
    position: relative;
    bottom: 120px;
}
.btn-login:hover{
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    transition: all ease 0.5s;
}
