@font-face {
    font-family:'font-default-login';
    src:url("../../../src/fonte/Racing_Sans_One/RacingSansOne-Regular.ttf");
}
*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
.content_background {
    height: 100vh;
    width: 50vw;
    background-image: url(../../assets/png/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_background h1{
    font-family: font-default-login !important;
    font-size: 10rem !important;
    color: #fff;
}

.text{
    margin-bottom: 130px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
.text h1{
    font-family: font-title;
    font-size: 2.0rem !important;
}

.content{
    width: 100vw !important;
    height: 100vh !important;
    color: #000;
}
.content h1{
    font-size: 1.4rem;
}
.content button {
    width: 200px !important;
    height: 40px;
    border-radius: 6px;
    transition: all ease 0.4s;
    background-color: #000;
    border: solid 1px #000 !important;
}
.content button:hover{
    border: solid 1px #000 !important;
    background-color: transparent;
    color: #000;
    transition: all ease 0.4s;
}

.content_login-singin {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 10px 8px 50px rgb(0 0 0 / 22%);
    border-radius: 17px;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.text p{
    width: 100% !important;
    font-size: 1.2rem;
    margin: 20px 0px !important;
    text-align: center;
    font-weight: 400 !important;
    font-family: font-default !important;
}

.login-container{
    max-width: 50%;
    min-width: auto ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-field {
    width: 100% !important;
    margin: 10px 0 !important;
    border-radius: 5px;
    border: none !important;
    padding: 8px 13px !important;
    background-color: #fff !important;
    color: black;
}

.group-button{
    display: flex;
}