*{
    padding: 0 !important;
    margin: 0 !important;
}

.container-catalogo{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.navbar-catalogo{
    height: 13vh;
    width: 100vw;
    background-color: #edd5e5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-catalogo img{
    margin-left: 85px !important;
    height: 11vh;
}
.opcoes{
    width: 15vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 85px !important;
}
.content-catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
    background-image: url(../../assets/png/parede-de-concreto.jpg);
    background-size: cover;
    background-color: antiquewhite;
}
.cardapio-catalogo{
    width: 96vw;
    min-height: 79vh;
    display: flex;
    height: auto;
    padding: 19px !important;
    justify-content: center;
}
.card-catalogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30vh !important;
    width: 20vw;
    margin: 0 20px !important;
}
.img_card{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-catalogo img{
    height: 100px;
    min-width: auto;
}
.card_descript{
    border-radius: 15px;
    padding: 0 10px !important;
    display: flex;
    height: 17vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.card_descript #title{
    font-size: 1.3rem;
    color: #f1a7e2;
}
.card_descript #price{
    font-size: 1.2rem;
    color: #4D1F18;
}
.card_descript .colocarnocarrinho{
    position: absolute;
    bottom: -17px;
    border-radius: 19px;
    padding: 5px 10px !important;
    background-color: #f1a7e2;
}
.cart-catalogo button{
    background-color: transparent !important;
    position: relative;
}
.cart-catalogo img{
    height: 40px;
}
.cart-catalogo .quant_uni{
    background-color: #4D1F18 !important;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 25px;
}
