.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.container-page{
    width: 100vw;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-page-content{
    width: 75vw;
    min-height: 100vh;

    background-color: black;
}

.clientes{
    padding: 25px !important;

    background-color: beige;
}

.cliente{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}